<article class="post post_index">
  <section class="post-head">
    <h2><%= link_to article.title, article_path(article), class: 'title_link' %></h2>
    <small>
      <time><%= article.created_at.to_date.strftime("%d %B, %Y") %></time>
      |
      <%= link_to 'Edit', edit_article_path(article), class: 'small_links edit_link' %>
      |
      <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?'},
                  class: 'small_links delete_link' %>
    </small>
  </section>
  <section class="post-summary clearfix cursor_default">
    <%= image_tag article.pictureforarticle.url(:thumb), class: 'img-thumbnail thumb' if article.pictureforarticle? %>
    <%= article.summary %>
  </section>
</article>