<div class="row">
  <div class = "col-md-10">
    <%= render 'shared/breadcrumb', category: category %>
    <article class="post">
      <section class="post-head">
        <h2 class="cursor_default"><%= @article.title %></h2>
        <small>
          <time><%= @article.created_at.to_date.strftime("%d %B, %Y") %></time>
          <% if @article.category.present? %>
            |
            <%= link_to @article.category.name, @article.category, class: 'small_links category_link' %>
          <% end %>
          |
          <%= link_to 'Edit', edit_article_path(@article), class: 'small_links edit_link' %>
          |
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'},
                      class: 'small_links delete_link' %>
        </small>
      </section>
      <section class="post-body cursor_default">
        <%= image_tag @article.pictureforarticle.url(:large), class: 'image-show' if @article.pictureforarticle? %>
        <%= @article.body.html_safe %>
      </section>
    </article>
  </div>
  <div class="col-md-2">
    <%= render 'shared/submenu' %>
  </div>
</div>

<%= render 'disqus' %>